@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #E5E5E5;
  width: auto;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 2rem;

}

.principal_config {
  margin: 1.5rem 2.5rem;
}

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}



/* TEXTO */

.texto-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}


div>textarea {

  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: #0A3871;
  background: #E5E5E5;
  border: none;
}

.observacao {
  display: flex;
  flex-direction: row;

  margin-top: 1rem;
  font-size: 0.8rem;
  color: #495057;
}

.observacao img,
p {

  margin-left: 5px;

}

.botoes {
  margin-top: 1rem;
  margin-left: 4rem;
}

#botao-cripto {
  display: inline-block;
  padding: 1.5rem 7rem;
  gap: 0.5rem;

  font-size: 1.1rem;

  background: #0A3871;
  color: white;
  border: none;
  border-radius: 1rem;
}

#botao-cripto:hover {
  background: #D8DFE8;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;

}

#botao-descripto {
  background: #D8DFE8;
  padding: 1.5rem 7rem;
  gap: 0.5rem;

  font-size: 1.1rem;

  border: 1px solid #0A3871;
  color: #0A3871;
  border-radius: 1rem;
  box-sizing: border-box;
}

#botao-descripto:hover {
  background: #0A3871;
  color: white;
  cursor: pointer;
}

/* TEXTO LATERAL */

.barra-lateral {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  width: 23%;
  height: 33rem;
  background: white;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: -4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}


.info {
  box-sizing: border-box;
}

.bloco h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #343A40;
  line-height: 2rem;
  text-align: center;
}

#texto-trocar {
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;

  text-overflow: clip;
}

#sem-c-especiais {
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;

  text-overflow: clip;
}

#adicionar-botao {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#copiar {
  padding: 1.5rem 3rem;
  margin-top: 2rem;

  background: white;
  border: 1px solid #0A3871;
  color: #0A3871;
  border-radius: 1rem;
}

#copiar:hover {
  background: #0A3871;
  color: white;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

/* rodapé */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

footer a {
  text-decoration: none;
  color: #000;
}

/* ------------ MEDIA QUERIES --------------*/

@media (min-width: 320px) and (max-width:768px) {
  .logo{
    margin-left: -1.5rem;
  }

  .principal_config {
    margin: 1.5rem 0rem;
  }

  main {
    flex-direction: column;
  }

  .barra-lateral {
    width: 80%;
    height: 27rem;

    margin: 2rem auto;

  }

  .botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    margin-left: 0rem;
  }

  #botao-descripto{
    margin-top: 1rem;
  }

  #imagem {
    display: block;
    margin: auto;
  }

  div>textarea {
    margin-left: 0rem;
    font-size: 1.3rem;

  }

}



@media (min-width: 768px) and (max-width:1024px) {


  .principal_config {
    margin: 1.5rem 0rem;
  }

  main {
    flex-direction: column;
  }

  .barra-lateral {
    width: 80%;
    height: 27rem;

    margin: 2rem auto;

  }

  .botoes {
    margin-top: 1rem;
    margin-left: 0rem;
  }

  #imagem {
    display: block;
    margin: auto;
  }

  div>textarea {
    margin-left: 0rem;
    font-size: 1.3rem;

  }
}